@media (max-width: 768px) {
  .showcase {
    .nav-link {
      margin: 1em 0;

      &:first-child {
        margin-top: 2em;
      }
    }
  }

  .pricing-above-fold {
    padding: 4em 0;
  }

  main .pricing-hero {
    margin: 4em 0;
  }

  .pricing-feats {
    margin: 2em 0;

    .feats-right {
      flex-direction: column;
      align-items: center;

      .feature-block {
        max-width: 100%;

        &:nth-child(2) {
          margin-top: 2em;
        }
      }
    }
  }
  .price-plans {
    .pricing-container {
      .pricing-box {
        padding: 1.5em;
        min-width: 14em;
      }
      .features {
        font-size: 1.1em;
      }
    }
  }

  .pricing-banner {
    .pricing-banner-info {
      padding: 1em 4em;
    }
    p {
      font-size: 1.1em;
    }
  }

  .results-cards {
    .card-contents {
      flex-basis: 40%;
      min-height: 20em;
    }
  }
  .get-in-touch {
    h3 {
      font-size: 1.4em;
    }
    .contact-btn {
      font-size: 1em;
    }
  }
}

@media (max-width: 425px) {
  .pricing-above-fold {
    padding: 4em 0;

    .pricing-hero {
      margin: 2em 0;

      h1 {
        font-size: 3em !important;
      }
      h2 {
        font-size: 1.4em !important;
        // margin: 2em 30px 0 30px !important;

        br {
          display: none;
        }
      }
    }
  }

  .pricing-feats {
    flex-direction: column;

    .feats-right {
      margin-top: 2em;
    }
  }

  .price-plans {
    h2 {
      margin: 0.5em 30px 0 30px !important;
    }

    .pricing-feats {
      flex-direction: column;

      .feats-right {
        margin-top: 4em;
      }
    }
    .pricing-container {
      flex-direction: column;
      .pricing-box {
        margin-top: 2em !important;
        min-width: 20em;
      }
    }
  }
  .pricing-banner {
    flex-direction: column;
  }

  .pricing-includes {
    h3 {
      font-size: 2.4em;
    }
  }

  .results-cards {
    .card-contents {
      flex-basis: 80%;
      min-height: none;
    }
  }
  .get-in-touch {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1em;
    height: 40vh;

    h3 {
      padding: 0 1.2em;
      line-height: 1.5em;
    }

    a {
      margin: 0em 1.2em 0 1.2em;
    }
  }
}

@media (max-width: 320px) {
  .pricing-container {
    margin: 2em 1em !important;
  }
  .price-plans {
    h2 {
      margin: 2em 30px 0 30px !important;
      padding: 0;
    }
  }
  .pricing-banner {
    .pricing-banner-info {
      padding: 1em 2em;
    }
  }

  .pricing-feats {
    .feats-left {
      p {
        font-size: 1.1em;
      }
    }
  }

  .pricing-includes {
    h3 {
      font-size: 2em;
      margin: 1em 1em 0.5em 1em;
    }
  }

  .price-plans {
    .pricing-container {
      .pricing-box {
        min-width: 16em;
      }
    }
  }

  .get-in-touch {
    padding: 0;

    h3 {
      margin-top: 0.5em;
    }
  }
}
